<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SVGtoGCODE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Fizzler" publicKeyToken="4ebff4844e382110" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SVGtoGCODE.Properties.Settings>
      <setting name="SizeX" serializeAs="String">
        <value>148</value>
      </setting>
      <setting name="SizeY" serializeAs="String">
        <value>105</value>
      </setting>
      <setting name="OffsetX" serializeAs="String">
        <value>-74</value>
      </setting>
      <setting name="OffsetY" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="PrintHeight" serializeAs="String">
        <value>-50</value>
      </setting>
      <setting name="MoveHeight" serializeAs="String">
        <value>-30</value>
      </setting>
      <setting name="PrintSpeed" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="MoveSpeed" serializeAs="String">
        <value>50</value>
      </setting>
    </SVGtoGCODE.Properties.Settings>
  </userSettings>
</configuration>